body{
    background-color: #131313;  
     
}
.heading{
    font-family: Roboto;
    font-weight: 400;
    font-size: 47px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .sub{
    font-family: Roboto;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  }
  .item{
    font-family: Roboto;
    font-weight: 700;
    font-size: 44px;    
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }
  .members{    
    display: flex;
    justify-content: center;
    gap: 90px;
  }
  .member{
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
  .members p{
    font-family: Inter;
    font-weight: 700;
    font-size: 29px;    
    color: #FFFFFF;
    margin-top: 30px;
  }
  .social{
    display: flex;
    gap: 70px;
  }
  

  .core{
    display: flex;
    gap: 420px;
  }
  .coreMember>a{
    color: blue;
    text-decoration: underline;
  }
  .new{
    font-family: 'Merriweather';
  }
  .sp{
    gap: 70px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .coreMember{
    width: 200px;
  }
  #post{
    font-size: 20px;
    margin-top: 0px;
  }