.gradient-border {
    position: relative;
    display: inline-block;
  }
.gradient-border::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -20px;
    bottom: -2px;
    left: -20px;
    background: linear-gradient(90deg, #FF6B00 0%, #8F3DE2 100%);
    z-index: -1;
  }
  
  .gradient-border::after {
    content: 'Roboreg';
    position: absolute;
    top: 3px;
    right: -15px;
    bottom: 3px;
    left: -15px;
    background: #131313;
    font-size: 18px; 
    font-style:"Jost";
    text-align: center; 
  }
  